:root {
    font-family: 'Bebas Neue', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

@font-face {
    font-family: 'Bebas Neue';
    src: url("public/BebasNeue-Regular.ttf") format('truetype');
}

  /*button {*/
  /*  border-radius: 8px;*/
  /*  border: 1px solid transparent;*/
  /*  padding: 0.6em 1.2em;*/
  /*  font-size: 1em;*/
  /*  font-weight: 500;*/
  /*  font-family: inherit;*/
  /*  background-color: #1a1a1a;*/
  /*  cursor: pointer;*/
  /*  transition: border-color 0.25s;*/
  /*}*/
  /*button:hover {*/
  /*  border-color: #646cff;*/
  /*}*/
  /*button:focus,*/
  /*button:focus-visible {*/
  /*  outline: 4px auto -webkit-focus-ring-color;*/
  /*}*/

table {
    margin: 1rem auto;
    border-radius: 0.6rem;
    border: 3rem hidden #000000;
    box-shadow: 0 0 0 1px black;
    overflow: hidden;
    max-width: 80rem;
    background-color: #222222;
}

thead {
    font-size: 1.2rem;
    background-color: #312e2e;
    color: #fff;
}

th,td {
    border: 1px solid #312e2e;
    min-width: 5rem;
    padding: 1.5rem;
    line-height: 0.2;
    border-radius: 0.6rem;
}

td {
    font-size: 1rem;
    background-color: white;
}

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }