:root {
    font-family: 'Bebas Neue', 'Alex Brush',Afacad, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

@font-face {
    font-family: 'Bebas Neue';
    src: url("public/BebasNeue-Regular.ttf") format('truetype');
}
@font-face {
    font-family: Alex Brush;
    src: url("public/AlexBrush-Regular.ttf") format('truetype');
}
@font-face {
    font-family: Afacad;
    src: url("../public/Afacad-VariableFont_wght.ttf") format('truetype');
}

table {
    margin: 1rem auto;
    border-radius: 0.6rem;
    border: 3rem hidden #000000;
    box-shadow: 0 0 0 1px black;
    overflow: hidden;
    max-width: 80rem;
    background-color: #222222;
}

thead {
    font-size: 1.2rem;
    background-color: #312e2e;
    color: #fff;
}

th,td {
    border: 1px solid #312e2e;
    min-width: 5rem;
    padding: 1.5rem;
    line-height: 0.2;
    border-radius: 0.6rem;
}

td {
    font-size: 1rem;
    background-color: white;
}
