
.event-page{
    background: #f1f5f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.event-page-header{
    display: flex;
    height: 12vh;
    width: 79vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-top: 4px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 10px 10px 10px -1px rgba(119, 111, 93, 0.52);
}
.event-page-header h1{
    font-size: 1.8rem;
}
.event-page-right{
    /*width: 79vw;*/
    position: relative;
    margin-left: 19.7vw;
}

.id-box4{
    min-width: 1rem;
}
.name-box4{
    min-width: 10rem;
}
.contact-box4{
    min-width: 2rem;
}

.no-of-event{
    margin-top: 1rem;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #312e2e;*/
}
.no-of-evevt h2{

}