*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    background: url("src/img/pexels-ella-olsson-1640777-scaled.jpg");
    justify-content: space-between;
}

.first-page{
    width: 25%;
    height:600px;
    background-color: lightseagreen;
    backdrop-filter: blur(300px);
    border-radius: 17px;
    position: absolute;
    margin-left: 36%;
    margin-top: 12%;
    text-align: center;
    opacity:90%;
}

.ForgotPassword{
    background-color: chartreuse;
    color:black;
}

.firstphoto{
    margin-top: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p{
    margin-top: 10px;
    font-size: 20px;
}

h1{
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.username_input{
    width: 65%;
    height:30px;
    color:black;
    margin-top: 55px;
    background: transparent;
    border:  none;
    outline:  none;
    border-bottom: 1px solid black;
    font-size: 15px;
    cursor: pointer;
}


.username_input::placeholder {
    color: black;
}

.verify_button{
    background-color: #d4d400;
    width: 40%;
    height:39px;
    color:black;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 100px;
}

.verify_button:hover{
    background-color: green;
}