.previous1{
    position: absolute;
    margin-top: -172px;
    margin-left: -240px;
    background-color: #fdeeee;
    border: none;
}

.question_input{
    margin-top: 60px;
    width: 60%;
    background: transparent;
    border:  none;
    outline:  none;
    border-bottom: 1px solid black;
    font-size: 20px;
    cursor: text;
}

.question_input::placeholder{
    color:grey;
    font-size: 1.1rem;
}

.close-btn1{
    position: absolute;
    margin-top: -172px;
    margin-left: 215px;
    background-color: #dcdbdb;
    border: none;
}