

body.active-forget-modal {
    overflow-y: hidden;
}
.forget-modal, .forget-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 101;
    /*backdrop-filter: blur(3px);*/

}


.forget-modal-content  {
    /*background: red;*/
    /*text-align: center;*/
    /*margin-left: 37%;*/
    /*margin-right: 37%;*/
    /*margin-top: 10%;*/
    /*height: 550px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*border-radius: 17px;*/
    /*backdrop-filter: blur(3px);*/

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #dcdbdb;
    padding: 14px 28px;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 27vw;
    height: 65vh;
    z-index: 102;

}

.close-btn {
    width: 3vw;
    height: 3vw;
    background: none;
    box-shadow: none;
    color: #222222;
    border-radius: 9px;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    padding: 7px 3px 0 3px;
    margin-bottom: -20px;
}
.close-btn:hover{
    box-shadow: none;
    color: #f3ad16
}

.question_input {
    margin-top: 60px;
    width: 60%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    cursor: text;
}

.question_input::placeholder {
    color: grey;
    font-size: 1.1rem;
}

.password_input {
    margin-top: 60px;
    width: 60%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    cursor: text;
}

.password_input::placeholder {
    color: grey;
    font-size: 1.1rem;
}

.confirm_input {
    margin-top: 60px;
    width: 60%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    cursor: text;
}

.confirm_input::placeholder {
    color: grey;
    font-size: 1.1rem;
}

.iconpassword {
    margin-left: -8px;
}

.head11 {
    font-size: 30px;
    font-weight: bold;
}

.subhead11 {
    margin-top: 10px;  /* Adjust the margin to create space between head11 and subhead11 */
    font-size: 20px;  /* Add a font size to subhead11 */
    font-weight: 600; /* Add font weight to subhead11 */
    color: #555;      /* Add color to subhead11 */
}

.mail-icon {
    margin-left: -20px;
}

.username_input {
    margin-top: 60px;
    width: 60%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    cursor: text;
}

.username_input::placeholder {
    color: grey;
    font-size: 1.1rem;
}

.error-message {
    margin-top: -330px;  /* Add margin to create space between subhead11 and error message */
    color: red;
    font-size: 18px;
}

.sendbtn {
    position: absolute;
    width: 23vh;
    height: 43px;
    margin-left: -6.5%;
    margin-top: 350px;  /* Adjust margin-top for better alignment */
    background: #f3ad16;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #281e07;
    font-weight: 800;
}
