@font-face {
    font-family: 'Bebas Neue';
    src: url("public/BebasNeue-Regular.ttf") format('truetype');
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header .btn-wrapper{
    display: flex;
}

.main{
    display: flex;
}

.main .main-left{
    flex-grow: 1;
}


.main .main-right{
    flex-grow: 4;
}