*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{

    width: 100vw;
    height: 100vh;
    background: url("src/images/pexels-ella-olsson-1640774.jpg");
    background-size: cover;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.form-box-login {
    width: 20%;
    padding: 50px;
    /*background:#b28210;*/
    backdrop-filter: blur(10px);
}

.form-box-login h1{
    position: relative;
    font-size:  30px;
    color: black;
    text-align: center;
}
/*login ko tala ko line ko edition*/
.form-box-login h1::after{
    content: '';
    width: 4vw;
    height: 0.5vh;
    border-radius: 4px;
    background: black;
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
}
.input-box{
    position: relative;
    width:14vw;
    height: 9vh;
    border-bottom: 2px solid #162938;
    margin:  30px 0;
    left: 2%;
}

.iconemail{
    position: relative;
    left: 90%;
    top: 40%;
}
.iconpassword{
    position: relative;
    left: 90%;
    top: 35%;
}
.Email{
    color: black;
    position: absolute;
    right: 19%;
    top: 40%;

    /*left: 0%;*/
}.Password{
    color: black;
    position: absolute;
    right: 19%;
     top: 40%;

     /*left: 0%;*/
}

.input-box input:focus~label{
    top:-5%;
}
.input-box input:valid~label{
    top: -5%;
}


.input-box input{
    width:100% ;
    height:100% ;
    background:  transparent;
    border:  none;
    outline:  none;
}
.Remember-forget{
    font-size:smaller;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 18px;
    display: flex;
    justify-content: space-between;
}
.Checkbox{

}

