
/*css fro login-modal*/
body.active-login-modal {
    overflow-y: hidden;
}
.login-modal, .login-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 101;
    backdrop-filter: blur(3px);
}
.login-modal-content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: rgba(190, 154, 124, 0.48);
    border: 2px solid;
    padding: 14px 28px;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 27vw;
    height: 50vh;
    z-index: 102;
    font-family: "Bell MT";

}
.login-modal-content h2{
    font-size: 2rem;
    color: #162938;
    text-align: center;
    margin-bottom: 40px;
}
.login-main{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.close-login-btn {
    width: 3vw;
    height: 3vw;
    background: none;
    box-shadow: none;
    color: #222222;
    border: none;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    padding: 7px 3px 0 3px;
    margin-bottom: -20px;
}
.close-login-btn:hover{
    box-shadow: none;
    color: #f3ad16
}
.username{
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    /*margin: 30px 10px;*/
    display: flex;
    border: black;
    /*border-radius: 20px;*/
}
.username input{
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
}

 .pass{
     position: relative;
     width: 100%;
     height: 40px;
     /*margin: 30px 10px;*/
     display: flex;
     /*border: 1px solid black;*/
     /*border-radius: 10px;*/
 }
.pass input{
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;

}

.input-box label{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    pointer-events: none;
}
.Remember-forget{
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    margin: 15px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Remember-forget label input{
    text-decoration: none;
    margin-right: 3px;
}
.Remember-forget a{
    color: #551A8b;
    text-decoration: none;

}
.Remember-forget a:hover{
    text-decoration: underline;
}

.btn-login{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #237ff6;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.btn-login:hover{
    color: white;
    background-color: #0770f6;
}
.rem{
    margin-right: 7rem;
}
.register-text {
    position: absolute;
    bottom: 30px;
    right: 95px;
}
.register-text:hover {
    cursor: pointer;
}
.register-text a:hover{
    text-decoration: underline;
}
.heqading{
    text-decoration: none;
    margin-bottom: 40px;
}
.error-message{
    color: red;
}

