
.home-options ul li.active a {
    color: #f3ad16; /* Specify the color for the active page title */
}

.reservation{
    background-image: url("src/images/reserv_bg.jpg");
    background-color: rgba(0,0,0,.52);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.select-hour, .select-day{
    font-family: Bebas Neue;
    font-size: 20px;
    position: relative;
    width:32vw;
    height: 4vh;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #162938;
    margin:  26px 0;
    top: 24%;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 8px;
    background: transparent;
    color:  rgb(133, 133, 133);
    padding-bottom: 4px;
}
.dropdown button{
    background-color: transparent;
    color: black;
    box-shadow: none;
    left: 40%;

}
.reservation h2{
    display: flex;
    color: #a97959;
    position: absolute;
    font-family: Alex Brush;
    font-size: 3vw;
    font-weight: 900;
    letter-spacing: 1px;
    top: 8%;
    left: 45%;
}
.reservation h1{
    display: flex;
    position: absolute;
    font-family: Bebas Neue;
    font-size: 4rem;
    letter-spacing: 6px;
    top: 15%;
    left: 40%;
}
.info-reservation{
    display: flex;
    flex-direction: column;
    left: 37%;
    position: absolute;
    top: 30%;
}
.info-reservation .name_input, .phno_input, .no_of_people_input{
    font-family: Bebas Neue;
    font-size: 20px;
    position: relative;
    width:32vw;
    height: 4vh;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #162938;
    margin:  30px 0;
    top: 24%;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 10px;
    background: transparent;
}