*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user_profile_main{
    margin-top: 4em;
    width: 25%;
    padding: 50px;
    border-radius: 17px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    right: 2%;
    background-color: #c5c5c5;
}
.my_profile{
    font-family: "Gilroy Medium";
    font-weight: bold;
    font-size: 1em;
}
.cross-icon button{
    width: 3vw;
    height: 3vw;
    background: none;
    box-shadow: none;
    color: #222222;
    border-radius: 9px;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    padding: 7px 3px 0 3px;
    margin-bottom: -20px;
}
.cross-icon button:hover{
    box-shadow: none;
    color: #831515
}

.order-history-btn{
    width: 7rem;
    height: 1.8rem;
    font-size: 1rem;
    border-radius: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
}
.logout-btn{
    width: 4.2rem;
    height: 1.8rem;
    font-size: 1rem;
    border-radius: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
}

.user_icon span{
    align-items: center;
    justify-content: center;
    padding-left: 4.5vw;

}
.name .name-box{
    margin-top: 1em;
    margin-bottom: 1em;
}
.name .email-box{
    margin-bottom: 1em;
}
my_profile h1{
    align-content: center;
}
