*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user_profile_main{
    margin-top: 2rem;
    width: 10%;
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 1%;
    top: 2.4%;
    background-color: rgba(224, 224, 224, 0.81);
}


.cross-icon button{
    width: 2vw;
    height: 3vw;
    background: none;
    box-shadow: none;
    color: #222222;
    /*border-radius: 9px;*/
    position: absolute;
    top: -1rem;
    right: -0.2rem;
    padding: 7px 3px 0 3px;
    margin-bottom: -20px;
    z-index: 99;
}
.cross-icon button:hover{
    box-shadow: none;
    color: black;
}

.order-history .logout-btn{
    width: 4.2rem;
    height: 1.8rem;
    font-size: 1rem;
    border-radius: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
}

